html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	font-size: 18px;
	font-family: 'Lato', sans-serif !important;
}

.header {
	padding: 0px;
	margin: 0px;
	width: 100%;
	height: 80px;
	background: #1F567D;
	h1 {
		color: white;
		text-align: center;
	}
}

.buttons {
	.control {
		#theHut {
			background: #f86767;
			border: #f86767;
			color: white;
		}	
		#healingClinic {
			background: #a3e46b;
			border: #a3e46b;
			color: white;
		}
		#castlegate {
			background: #9c89cc;
			border: #9c89cc;
			color: white;
		}
		#YCC {
			background: #f1f075;
			border: #f1f075;
			color: white;
		}
		#survive {
			background: #f5c272;
			border: #f5c272;
			color: white;
		}
	}

	#back {
	}
}

.map {
	#map {
		width: 100%;
		height: 500px;
	}
}